html, body {
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-size: 1.2rem;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.map-overlay {
  width: 30vw;
  height: 30vh;
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  z-index: 999;
  display: none;
}



.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  background-color: #f4f7fa;
  height: 100vh;
  overflow: hidden;
}

.app-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #003366;
  margin-bottom: 1rem;
}

.video-map-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}

.layout-container {

  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background: #f4f7fa;
   margin: 0;
  padding: 0;
}


.layout-video {
  margin: 0 !important;
  padding: 0 !important;
  height: auto;
  flex-shrink: 0;
  
  display: flex;
  flex-direction: column;
  
}

.layout-info {
  flex-shrink: 0;
  padding: 1rem 4vw;
  margin-bottom: 150px;
  margin-top: 150px;
}

.layout-bottom {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  padding: 0 4vw;
  min-height: 20vh;
  overflow: hidden;
}

.map-box {
  flex: 4;
  padding-right: 2vw;
  display: flex;
  flex-direction: column;
}

.map-container {
  flex-grow: 1;
  height: auto;
  min-height: 10vh;
  transition: height 0.4s ease;
  margin-bottom: 220px;
}


.markers-box {
  flex: 1;
  max-width: 20vw;
  height: 100%; /* Let it fully use parent height */
  display: flex;
  flex-direction: column;
  overflow: hidden; /* prevent accidental double-scroll */
  margin-bottom: 50px;
}







