html, body {
  width: 100vw;
  height: 100vh;
  font-size: 1.2rem;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.map-overlay {
  width: 30vw;
  height: 30vh;
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  z-index: 999;
  display: none;
}



.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  background-color: #f4f7fa;
  height: 100vh;
  overflow: hidden;
}

.app-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #003366;
  margin-bottom: 1rem;
}

.video-map-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}

.layout-container {
  display: grid;
  grid-template-rows: 40vh 25vh 35vh;
  grid-template-columns: 1fr;
  height: 100vh;
  width: 100vw;
  background: #f4f7fa;
}

.layout-video {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.layout-info {
  
  background: #ffffffcc;
  border-top: none;
  border-bottom: none;
}

.layout-bottom {
  display: flex;
  flex-direction: row;
  height: 100%;
  padding: 0 4vw;
}

.map-box {
  flex: 4;
  padding-right: 2vw;
}

.markers-box {
  flex: 1;
  max-width: 20vw;
  padding-left: 2vw;
  border-left: none;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

