.location-marker-panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}


.marker-scroll-section {
  max-height: calc(100% - 180px); 
  overflow-y: auto;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0;
}


.location-marker {
  display: flex;
  align-items: center;
  margin-bottom: 0.8rem;
  font-size: 1.2rem;
  transition: color 0.3s, transform 0.3s;
}

.location-marker .marker-dot {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: #ccc;
}

.location-marker.active {
  color: #ce0101;
  transform: scale(1.05);
}

.location-marker.active .marker-dot {
  background-color: #ff6600;
}

.location-marker.inactive {
  opacity: 0.5;
}

.qr-code-box {
  flex-shrink: 0;
  padding: 1rem;
  border-top: 2px solid #ffffff;
  text-align: center;
  background: transparent
}

.qr-code-box canvas {
  width: 100%;
  max-width: 256px;
  height: auto;
  margin: 0 auto;
}

.qr-label {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: #003366;
  margin-bottom: 20px;
}
